/* Only used for planning, will not add this stylesheet to html layouts */

:root {
	--color-palette-darkmode-text-color-primary: #dde6ed;
	--color-palette-darkmode-text-color-secondary: #0ecfff;
    /* --color-palette-darkmode-text-color-tertiary: #0ecfff; */
	--color-palette-darkmode-background-color-window2: #1857a0;
	--color-palette-darkmode-background-color-window: #113f74;
	--color-palette-darkmode-background-color: #0a2647;

	--color-palette-lightmode-text-color-primary: #333333;
	--color-palette-lightmode-text-color-secondary: #096075;
    /* --color-palette-lightmode-text-color-tertiary: #00598d; */
	--color-palette-lightmode-background-color-window2: #1e70cc;
	--color-palette-lightmode-background-color-window: #cccccc;
	--color-palette-lightmode-background-color: #ebebeb;
}
