.myPortalContainer {
    position: relative;
    min-height: calc(100vh - 190px);
    margin-top: 1rem;
    padding: 1rem;
}

.myPortalGreeting {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.myPortalGreeting h2 {
    color: var(--text-color-secondary);
}

.userInfoCard {
    background-color: var(--background-color-window);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow-large);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.userInfoCard h3 {
    color: var(--text-color-secondary);
}

/* Dynamic Content Panel */

.dynamicContentPanel {
    margin-top: 1rem;
    display: flex;
    max-width: 800px;
    flex-direction: column;
    gap: 1rem;
}
.addAddressContainer {
    background-color: var(--background-color-window);
    padding: 1rem;
    box-shadow: var(--box-shadow-large);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.addAddressContainer > div {
    width: 800px;
    max-width: calc(100%);
    display: flex;
    flex-direction: column;
}

.addAddressContainer input[type="text"] {
    width: 800px;
    max-width: 100%;
    background-color: white;
    color: black;
    padding: 0.15rem;
    font-size: 1em;
    border-radius: 6px;
    border: 2px solid var(--background-color);
}

.checkboxContainer {
    display: flex;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.deleteAddressContainer {
    background-color: var(--background-color-window);
    padding: 1rem;
    /* border-radius: 8px; */
    box-shadow: var(--box-shadow-large);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.deleteAddressContainer > select {
    width: 800px;
    max-width: calc(100%);
    background-color: white;
    color: black;
    padding: 0.15rem;
    font-size: 1em;
    border-radius: 6px;
    border: 2px solid var(--background-color);
}
.requestServiceContainer {
    background-color: var(--background-color-window);
    padding: 1rem;
    /* border-radius: 8px; */
    box-shadow: var(--box-shadow-large);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.requestServiceContainer > select {
    width: 800px;
    max-width: calc(100%);
    background-color: white;
    color: black;
    padding: 0.15rem;
    font-size: 1em;
    border-radius: 6px;
    border: 2px solid var(--background-color);
}







.toast {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: var(--background-color-icon);
    color: var(--text-color-secondary);
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
    box-shadow: var(--box-shadow-large);
    border: 2px solid var(--text-color-secondary);
    z-index: 999;
    opacity: 1;
    font-size: 1.5rem;
}


.actionButtonsContainer {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

.largeButton {
    max-width: 200px;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: var(--background-color-window);
    color: var(--text-color-primary);
    border: 2px outset var(--background-color-window);
}


.largeButton.active {
    border: 2px solid var(--text-color-secondary);
}

.largeButton:hover {
    color: var(--text-color-secondary);
    cursor: pointer;
}
.largeButtonDelete:hover {
    background-color: red;
    color: white;
    border: 2px dotted black;
    cursor: pointer;
}