/* ============================= */
/* PAGE CONTAINER                */
/* ============================= */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: calc(100vh - 175px);
    padding: 1rem 1rem 0 1rem;
}

.container h2,
.container h3,
.cardTitle {
    color: var(--text-color-secondary);
    text-align: center;
}


/* ============================= */
/* DESCRIPTION TEXT              */
/* ============================= */

.description {
    margin: 1rem auto;
    max-width: 800px;
    text-align: center;
}


/* ============================= */
/* CARD GROUP LAYOUT             */
/* ============================= */

.cardGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


/* ============================= */
/* STACK CARDS                   */
/* ============================= */

.card {
    background-color: var(--background-color-window);
    padding: 2rem;
    border-radius: 12px;
    min-width: 300px;
    width: 340px;
    max-width: 90%;
    height: 350px;
    max-height: 350px;
}

.cardTitle {
    margin: 1rem 0;
}

.card ul {
    list-style: circle;
    padding-left: 1rem;
    font-size: 1rem;
}

.card li {
    margin-bottom: 0.5rem;
}

.card li::marker {
    color: var(--text-color-secondary);
}


/* ============================= */
/* RESPONSIVE ADJUSTMENTS        */
/* ============================= */

@media (max-width: 768px) {
    .card li {
        font-size: 0.9rem;
    }
}
